[submodule "wp-content/plugins/backup-restore-divi-theme-options"]
	path = wp-content/plugins/backup-restore-divi-theme-options
	url = https://github.com/DiviSpace/backup-restore-divi-theme-options
[submodule "wp-content/plugins/domain-mapping"]
	path = wp-content/plugins/domain-mapping
	url = https://ss-readonly:qqAtmBz14TBjA6zzTTtOtm@bitbucket.org/sitespaceclub/domain-mapping.git
[submodule "wp-content/themes/Divi"]
	path = wp-content/themes/Divi
	url = git@gitlab.com:SiteSpace/Divi.git
